FILING_SECRET=change-me-to-a-long-random-string
LUATEX=/usr/local/texlive/2026/bin/universal-darwin/luatex
LUA=/path/to/lua
RSVG=/opt/homebrew/bin/rsvg-convert
QPDF=/opt/homebrew/bin/qpdf
VERAPDF=/opt/homebrew/bin/verapdf
SVG=/path/to/logo.svg
